{# src/AppBundle/Resources/views/admin/login.html.twig #}


{% extends 'base.html.twig' %}


{% block body %}


  {# S'il y a une erreur, on l'affiche dans un joli cadre #}

  {% if error %}

    <div class="alert alert-danger">{{ error.message }}</div>

  {% endif %}


  {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}

  <form action="{{ path('login_check') }}" method="post">

    <label for="username">Login :</label>

    <input type="text" id="username" name="_username" value="{{ last_username }}" />


    <label for="password">Mot de passe :</label>

    <input type="password" id="password" name="_password" />

    <br />

    <input type="submit" value="Connexion" />

  </form>


{% endblock %}