{% extends 'base.html.twig' %}

{% block title %}
Admin Todo
{% endblock %}

{% block body %}

     
 
        <div >
            <h1><a href={{ url ( 'new' ) }}>Poster un article</a></h3>
            <h2><a href={{ url ( 'blogList') }}>Lister les articles</a></h3>
        </div>
 
{% endblock %}