{% extends 'base.html.twig' %}
{% block body %}

    <ul>
        {% for post in posts %}
            <li>
                <h3>{{ post.titre }}</h3>
                <p>{{ post.content }}</p>
                 <p>{{ post.publishedAt|date('d/m/y') }}</p>
            </li>
        {% endfor %}
    </ul>


{% endblock %}
