{% extends 'base.html.twig' %}
{% block body %}

    <ul>
        <li>
            <h3>{{ post.titre }}</h3>
            <p>{{ post.content }}</p>
            <p>{{ post.publishedAt|date('d/m/y') }}</p>
        </li>  
    </ul>

    <div>
            {{ form_start( form ) }}
            {{ form_widget( form ) }}
            {{ form_end( form ) }}
    </div>

    <div>
        {% for content in form.content %}
        <li>
            {{ form.content }}
           
        </li>
     </div>      
        {% endfor %}


{% endblock %}